.container {
  max-width: 350px;
  margin: 125px auto;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px 45px;
  box-shadow: 0px 0px 5px -1px #000000;
}

.container > form > input {
  border-radius: 5px;
  width: 100%;
  height: 25px;
  padding: 5px;
  font-size: 14px;
  border: 2px solid #418a37;
}

.container > form > legend {
  color: #418a37;
  font-size: 12px;
}

.container ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.container > ul > li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.container > ul > li > span {
  justify-self: flex-start;
  padding: 0px 10px;
  width: 100%;
}

.container > ul > li > .completed {
  text-decoration: line-through;
}

.container > ul > li > a {
  color: #418a37;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
}
